body{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
header{
    display:flex;
    top:0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    position:fixed;
    z-index: 1;
    color: white;
    padding: 5px;
    text-size-adjust: 100px;
}
nav a{
    padding: 10px 25px;
    text-decoration: none;
    color:white;
    font-size: 20px;
}
nav a:hover{
    transition: 0.6s;
    background-color: rgb(240, 248, 126);
    box-shadow: 0px 0px 5px rgb(211, 143, 88);
    scale: 105%;
}

section.home{
background: url("YouTube.jpg"); 
background-size: cover; 
background-repeat: no-repeat; 
background-attachment: fixed; 
height: 600px;
}
section.about{
background-color: black;
height: 600px;
}
section.product{
background: url("YouTube.jpg"); 
background-size: cover; 
background-repeat: no-repeat; 
background-attachment: fixed; 
height: 600px;
}
section.contact{
background-color: black; 
height: 600px;
} 
footer {
background-color: black;
height:50px;
}
section.home{
    height: 600px;
    background:url("https://i.pinimg.com/736x/e0/96/35/e09635b4d57b849db9c2a900fae75827.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    padding-top:100px;
}
section.home div{
    text-align: center;
    color: white;
    margin:auto;
    width:70%;
    padding: 20px;
}
section.home .welcome{
    font-size: 30px;
}
section.home a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
section.about{
    background-color: black;
    height: 600px;
    padding-top:100px;
}
section.about div{
    color:white;
    text-align: center;
    margin:auto;
    width:70%;
}
section.about img{
    height: 200px;
}
section.product{
    background: url("gbr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1200px;
}
section.product .container {
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
section.product .container .card{
    height: 300px;
}
section.product .container .card img{
    width:50%;
}
section.product .container .card a{
    color:black;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
section.contact{
    background-color: black;
    height: 600px;
}
section.contact .card{
    margin: auto;
    color:white;
    text-align: center;
    padding-top: 100px;
    width:400px;
}
section.contact .card img{
    width:200px;
}
footer {
    background-color: grey;
    height:50px;
}
footer .medsos{
    text-align: center;
    padding-top: 10px;
} 
footer .medsos a{
    color:white;
    font-size: 20px;
    padding: 5px 20px;
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }